Source: atds3
Maintainer: No Maintainer <no@maintain.er>
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper, build-essential, devscripts, qtbase5-dev, qtdeclarative5-dev, qtquickcontrols2-5-dev, qtmultimedia5-dev, qt5-qmake, libssl-dev, protobuf-compiler, libprotobuf-dev, libqt5svg5-dev, libqt5websockets5-dev

Package: atds3
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl1.1, libqt5core5a, libqt5gui5, libqt5widgets5, libqt5qml5, libqt5quickcontrols2-5, libqt5svg5, libqt5sql5, libqt5sql5-sqlite, libqt5network5, libqt5websockets5, libqt5multimedia5, libqt5multimedia5-plugins, libqt5multimediaquick5, qml-module-qt-labs-platform, qml-module-qtqml-models2, qml-module-qtquick-window2, qml-module-qtquick-layouts, qml-module-qtquick-controls, qml-module-qtquick-controls2, qml-module-qtquick-dialogs, qml-module-qtgraphicaleffects, qml-module-qtmultimedia, qml-module-qtaudioengine
Description: Administrador de Transferencias para toDus (S3)
 ATDS3 es una aplicación para escritorio que automatiza el proceso de publicación y descarga de archivos hacia/desde los servidores de la red toDus (S3).
 .
 ATDS3 posee las siguientes características:
 .
   * Multiplataforma: ATDS3 puede ser utilizado en cualquier sistema operativo que en donde la librería Qt pueda funcionar: UNIX (FreeBSD, NetBSD, OpenBSD), Linux y Windows.
   * Fácil de usar: ATDS3 es fácil de usar gracias a la intuitiva interfaz de usuario que posee.
   * Configurable: ATDS3 ofrece diversas opciones configurables que definen el comportamiento de diversas secciones.
   * Completamente asincrónico: ATDS3 es totalmente asincrónico, por lo que podrá realizar varias operaciones de publicaciones y descargas al mismo tiempo.
   * Ajustado al protocolo de red de toDus: ATDS3 Está ajustado lo mayormente posible al protocolo de red que utiliza toDus, incluyendo inicios de sesión partiendo del número telefónico.
   * Inteligene: ATDS3 tiene escrito código para comportarse de forma inteligente dependiendo de la situación de la red y cómo descargar los archivos.
